@font-face {
  font-family: 'Easycore';
  src: url(assets/Easycore.ttf);
}

@font-face {
  font-family: 'FatCat';
  src: url(assets/FatCat.ttf);
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-image: url(assets/FKbackgroundacid.png);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 100;
}

#author {
  margin-left: 20%;
}

.attribution-image {
  background-image: url(assets/FKid2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 800px;
  margin-top: -40px;
  margin-right: -40px;
}

.name {
  font-family: FatCat;
}

.role {
  font-family: Easycore;
  font-size: 2.8em;
  margin: 0px 15px -5px;
}

h3, h4, h5 {
  font-weight: normal;
}

.chunk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

.credit {
  text-align: center;
  padding-bottom: 4px;
}

.credit .name, .chunk .name {
  margin: 0px 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  padding: 0px 15px;
  font-size: 0.8em;
}
